global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
  evaluation_interval: 15s # By default, scrape targets every 15 seconds.

  # Attach these labels to any time series or alerts when communicating with
  # external systems (federation, remote storage, Alertmanager).
  external_labels:
    monitor: 'demoproject'

rule_files:
  - "{{ prometheus_rule_path }}/alert.rules"

scrape_configs:
  - job_name: 'prometheus'

    scrape_interval: 5s

    static_configs:
      - targets:
        - "localhost:9090"
        labels:
          job: prometheus

      - targets: 
        - "{{hostvars['prometheus-idi-server']['ansible_eth1']['ipv4']['address']}}:9100"
        - "{{hostvars['prometheus-idi-client']['ansible_eth1']['ipv4']['address']}}:9100"
        - "{{hostvars['prometheus-idi-dockerhost']['ansible_eth1']['ipv4']['address']}}:9100"
        labels:
          job: node

      - targets: 
        - "{{hostvars['prometheus-idi-dockerhost']['ansible_eth1']['ipv4']['address']}}:8080"
        labels:
          job: docker
